<form method="post" action="{{ path('apartment_delete', {'id': apartment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apartment.id) }}">
    <button class="btn badge rounded-pill bg-danger"> Supprimer </button>
</form>
