{% extends 'base.html.twig' %}

{% block title %}Modifier un appartement{% endblock %}

{% block body %}
    <h1>Modifier un appartement</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div style="float:right">
        <a href="{{ path('apartment_index') }}"><button type="button" class="btn btn-secondary"> Retour </button></a>
        <button type="submit" class="btn btn-primary"> Modifier </button>
    </div>

    {{ form_end(form) }}

{% endblock %}
