{% extends 'base.html.twig' %}

{% block title %} Liste des appartements {% endblock %}

{% block body %}
    <h1> Liste des appartements </h1>

    <a href="{{ path('apartment_new') }}"> <button type="button" class="btn btn-secondary"> Ajouter un appartement</button></a>
    <table class="table">
        <thead>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for apartment in apartments %}
            <tr>
                <td style="vertical-align: middle"> <img src="https://picsum.photos/id/{{ apartment.id }}/50.jpg"> </td>
                <td style="vertical-align: middle">
                    {{ apartment.address }} <br>
                    <ul class="list-inline">
                        <li class="list-inline-item">Etage : {{ apartment.floor }}</li>
                        <li class="list-inline-item">Pièces : {{ apartment.nbRoom }}</li>
                        <li class="list-inline-item">
                            {% if apartment.elevator %}
                                <span style="color:blue"> ascenseur </span>
                            {% else %}
                                <del style="color:red"> ascenseur </del>
                            {% endif %}
                        </li>
                    </ul>
                </td>
                <td style="vertical-align: middle">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{{ path('apartment_edit', {'id': apartment.id}) }}"><span class="badge rounded-pill bg-primary">Editer</span></a>
                        </li>
                        <li class="list-inline-item">
                            {{ include('apartment/_delete_form.html.twig') }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun appartement disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
